.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - #{$sidebar-width});
  background: #0d0d0d;
  z-index: $z-index-header;
  box-shadow: 0 2px 10px rgba(#000, .15);
}

.header__left {
  width: 60%;
}
.header__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
