.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  &:hover {
    .nav__link {
      background-color: $blue;
    }
    > .subnav {
  display: block;
}

  }
}

.nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  padding: 1.2rem;

  font-size: 1.1rem;
  transition: background-color 0.2s linear;

  &--hav-subnav {
    padding-right: 3.5rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $white transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%);
    }
  }
}
