.profile__avatar {
  width: 10rem;
  height: 10rem;
  display: block;
  border-radius: 50%;
  box-shadow: 0 7px 20px rgba(#000, .25);
  border: 2px solid $white;
  margin: 0 auto 2rem;
  position: relative;
}

.profile__name {
  font-size: 1.8rem;
  text-align: center;
}

.profile__prof {
  font-size: 1.4rem;
  text-align: center;
  color: $gray-profile;
  font-weight: 300;
  margin-bottom: 2rem;
}

.profile__text {
  font-size: 1.2rem;
  border-bottom: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
}
