<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar-header.jpg" alt="" />
  </div>
  <div class="sidebar__content">
    <div class="profile">
        <img class="profile__avatar" src="https://lh3.googleusercontent.com/ogw/ADGmqu-XeRiVWsN3ykT4pOFR6XtP3SlGmA4nu2-BRM1A=s83-c-mo" alt="" />
      <div class="profile__name">Qwerty Qwerty</div>
      <div class="profile__prof">Lorem ipsum dolor sit amet.</div>

      <ul class="social">
        <li class="social__item">
          <a href="" class="social__link" target="_blank">
            <img src="assets/images/instagram.svg" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link" target="_blank">
            <img src="assets/images/vk.svg" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link" target="_blank">
            <img src="assets/images/pinterest.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar__footer"></div>
</aside>
